<%-include('partials/navbar');%>

<form action="/new-message" method="POST">
    <label for="messageContent">Enter Message</label>
    <input type="text" name="messageContent" id="messageContent" required style="width: 40%; height: 5%;" >
    <button>Submit Message</button>
</form>

